* {
    font-family: 'RocknRoll One', sans-serif;
}
main {
    width: 600px;
    margin: 0 auto;
}
section {
    display: flex;
    width: 100%;
}
mark {
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #b0b7d0;
}
summary{
    padding-left: 25px;
    margin-top: 20px;
    cursor: pointer;
}
h3 {
    position: relative;
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding: 2px 0px 2px 25px;
    background-color: #434753;
}
h3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fcbf00;
}
.right-column {
    flex: 0 1 260px;
    color: #d9dce3;
}
.right-column figcaption {
    font-size: 1rem;
    background-color: #353945;
    padding-left: 10px;
}
.right-column article:first-of-type {
    background-color: #353945;
    padding: 20px 0;
}
.right-column article:first-of-type ul {
    padding: 20px 0px 20px 25px;
}
.right-column article:first-of-type ul li:nth-child(odd),
.right-column article:first-of-type p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.right-column article:first-of-type ul li:nth-child(2) {
    margin-bottom: 20px;
}
.right-column img {
    width: 260px;
    height: 300px;
}
.right-column article:first-of-type p,
.right-column article:first-of-type address {
    width: 120px;
    margin-left: 25px;
}
.right-column article:nth-of-type(2) {
    min-height: 175px;
    background-color: #2c323e;
    padding: 35px 0px 5px;
}
.right-column article:nth-of-type(2) p,
.right-column article:last-of-type p {
    width: 230px;
    font-size: 1rem;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.right-column article:last-of-type {
    background-color: #1e2025;
    padding: 35px 0px 10px;
}
/* Left column  */
.left-column {
    background-color: #ddd;
}

header h1 {
    font-size: 3rem;
    margin: 50px 0px 10px 25px;
}
header  p {
    font-size: 2rem;
    margin: 0px 0px 50px 25px;
}
.left-column h3 {
    background-color: #ebebeb;
}
.left-column article p,
.left-column article ul {
    font-size: 1.2rem;
    line-height: 20px;
    padding: 10px 20px 20px 25px;
}
.left-column article ul {
    column-count: 3;
}
.left-column article code{
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}
/* FOOTER */

footer {
    display: flex;
    width: 600px;
    background-color: #ccc;
    margin: 0 auto;
}
.my-github-account,
.rsscholl-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.my-github-account span,
.my-github-account a,
.rsscholl-link span {
    margin-right: 5px;
}
.rsscholl-link img {
    width: 70px;
    margin-right: 5px;
}
